h1 Public::Tops#top
p Find me in app/views/public/tops/top.html.slim

/ - s = 'hoge'
- s = String.new("hoge") # 明示的にnewをしても良い。
/ = s.class

- a = (1..10) # 範囲オブジェクト
/ = a.class # Rangeクラス

- r = Range.new(1, 10)
/ - r = Range.new(1..10) これはエラー
/ = r
/ = r.class

/ aもrもRangeオブジェクト
= a == r
