h1 index.rb

p slimのテスト中

- result = 'test now'
= result

.wrapper#wrapper
  .body
    p ラップされたボディの中のpタグですよ

- animals = ['dog', 'cat', 'bird']
= animals
br/
= animals[1]
br/

- people = %w(Jon Jin Taro)
= people
br/

- something = %W('1!"&$%1 2\||!```'$2 3nrausdf3)
= something
br/

- taro = 'Taro'
- jiro = 'Jiro'

- if taro == jiro
  p 太郎は次郎である
- else
  p 太郎は次郎ではない
/ - end
/ slimテンプレートを使用する場合は、明示的なendは不要。
/ endをつけるとエラーがでる。 # Temple::FilterError in Top#index


/ 以下の記法はslimでは出力されない？
/ - if true then puts 'trueです'
/ - if taro != jiro then puts '2つの値は等しくない'
/ = if true then puts 'trueです'
/ = if taro != jiro then puts '2つの値は等しくない'
