h1 slimのテスト中

== @hypertext

/ https://railsdoc.com/page/link_to
/ link_toを使うと簡単にaタグを作成できる
= link_to 'aboutへ移動', '/about', class: 'menu'

- 5.times do |i|
  p = i
  / この書き方pにiを代入してるみたいで結構可読性低い。

= @prod
