h1 slimのテスト中

/ = @text
= @ret

- condition1 = true
- condition2 = true
- condition3 = false
- condition4 = false

- if condition1 && condition2
  p 通過


- if condition1 && condition3
  p 評価されない

- if (condition1 == condition2) && (condition3 == condition4)
  p 評価される
