/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// ボディ
body {
  background-color: rgb(240, 240, 240);
}

// 共通ヘッダー
header {
  .head_wrap {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(250, 250, 250);
    align-items: center;

    .head_title {
      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
    }

    .head_list {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
    }

    .gNav {
      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        &:hover {
          color: rgb(166, 166, 166);
        }
      }
    }

  }
}

// ヘッダーナビのタイトル横につけてるBETA表記のCSS
.head_title-small {
  font-size: 9px;
  margin-right: auto;
  margin-left: 1%;
}

// 共通フッター
.foot_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}
.foot_wrap-inner {
  text-align: center;
}

// フォーム
input[type='email'], input[type='password'], input[type='text'] {
  margin-top: 1%;
  width: 95%;
  padding: 10px 15px;
  border-radius: 3px;
  border: 2px solid #ddd;
  font-size: 14px;
}

// サブミットボタン
.submit__wrap {
  text-align: center;
}
input[type='submit'] {
  margin-top: 3%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(105, 162, 255, .8);
  border-radius: 5px;
  border: none;
  padding: 1% 2%;
  width: 140px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

// ボタン（仮組み。要修正）
.btn {
  text-align: center;
}
